

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap');

* {
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: blueviolet;
  background-image: url(banners/banner\ background\ 1.jpg);
}

header {
  width: 100%;
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: flex;
  padding: 0 0 0 60px;
  width: 60px;
  height: 60px;
}


.menu .lista a{
  margin-right: 40px;
  color: #ffffff;
  font-family: "Pacífico", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lista a:hover {
  color: aqua;
}

main {
  display: flex;
  height: 400px;
  width: 100%;
  align-items: center;
  
}

.conteudo  {
 margin: 0 auto;
 width: 50%;
 

}

.p {
  color: #ffffff;
  font-size: 20px;
  font-family: "Pacífico", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.h1 {
  color: #ffffff;
   font-size: 30px;
   margin: 20px 0 0 0;
   font-family: "Pacífico", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.butao  {
  font-family: "Pacífico", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 30px 0 0 0;
  color: #ffffff;
  width: 100%;
  
}

.bt1  {
  margin: 0 2px 0 0;
  background-color: transparent;
  border:2px solid #ffffff;
  width: 110px;
  height: 40px;
  margin: 0 10px 0 0;
  font-size: 15px;
  border-radius: 10px;
  
}

.bt2  {
  margin: 0 2px 0 0;
  background-color: transparent;
  border:2px solid #ffffff;
  width: 110px;
  height: 40px;
  margin: 0 10px 0 0;
  font-size: 15px;
  border-radius: 10px;
  
}

.cor1 {
  color: #ffffff;
}

.cor1:hover {
  color: aqua;
}

footer {
  display: flex;
  height: 98px;
  align-items: center;
  justify-content: space-around;
}

.lista_links  {
  display: flex;
  align-items: center;
}

.lk1 svg {
  display: flex;
  padding: 0 20px 0 10px;
  color: white;
  height: 25px;
  width: 25px;
}

.lk1 svg:hover {
  color: aqua;
}

.logo_rodape img {
  display: flex;
  width: 50px;
  height: 50px;
}

